body {
    margin: 0;
    position: relative;
  }
  
  button {
    background-color: rgb(13, 168, 234);
    color: aliceblue;
    /* top: 50px; */
    /* bottom: 50px; */
    padding: 25px;
    margin: 150px auto; /* by default its top / left*/
    font-size: 25px;
    font-family: "Fira Sans", Arial, sans-serif;
    display: block;
    border-radius: 10px;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: black;
  }
  